
<header class="header">
    <div class="logo">
        <h3>Brew Nest-Admin</h3>
        <img src="/assets/img/logo.png" alt="Logo">
    </div>
    <nav class="navbar">
        <a href="/admin">All Products</a>
        <a href="/admin/orders">All Orders</a>
    </nav>
    <div class="icons">
        <div class="fas fa-bars" id="menu-btn"></div>
    </div>
</header>