<section class="container mt-5 text-center thank-you-section">
  <h2 class="thank-you-title">Thank You!</h2>
  <p class="thank-you-message">Your order has been placed successfully.</p>
  <a href="/" class="btn btn-primary btn">Go to Home</a>
</section>
